@{
    ViewBag.Title = "Adaugare Marca";
}



<h2>Adaugare marca</h2>

<form method="post" action="/Marci/Create">

    <label>Nume marca</label>
    <br />
    <input type="text" name="Nume" />
    <br />
    <br />
    <button class="btn btn-success" type="submit">Adauga marca</button>
</form>