@model SafeWheel3.Models.Comment


@{
    ViewBag.Title = "Edit";
}
<style>
    .btn-success {
        background-color: #f39c12;
        color: white;
        border-radius: 50px;
        padding: 10px 20px;
        border-color: #f39c12;
        transition: background-color 0.3s;
    }

        .btn-success:hover {
            background-color: #f39c12;
            color: black;
            border-color: black;
        }
</style>
<h2>Editare expertiză</h2>
<br />


@using (Html.BeginForm(controllerName: "Comments", actionName: "Edit",
      method: FormMethod.Post, routeValues: new { id = Model.Id }))

{
    @Html.Label("Content", "Conținut expertiză")

    <br />

    @Html.Editor("Content", new { @class = "form-control" })
    <br />

    @Html.ValidationMessage("Content", null, new { @class = "text-danger" })

    <br />
    <br />

    <button class="btn  btn-primary btn-success" type="submit" >Editează expertiza</button>

}

