@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="background-color: #f8f9fa; padding: 2rem;">
    <h1 class="display-4 text-center" style="color: #343a40; font-family: 'Georgia', serif;">Bun venit în aplicația SafeWheel!</h1>
    <div class="row align-items-center" style="margin-top: 2rem;">
        <div class="col-md-6">
            <p style="font-size: 1.8rem; color: #6c757d; font-family: 'Arial', sans-serif; font-weight: bold;">Îți cauți o mașină?</p>
            <p style="font-size: 1.1rem; color: #6c757d;">Atunci cu siguranță ai găsit deja anunțuri pe câteva zeci de site-uri de profil...</p>
            <p style="font-size: 1.1rem; color: #6c757d;">Dar procesul de achiziție se dovedește a fi anevoios... Nu poți cunoaște vânzătorul, seriozitatea
                acestuia. Verificările online sunt eficiente, până la punctul în care mașina are un istoric curat, dar partea mecanică necesită multiple intervenții
                sau aspectul exterior este neîngijit. În astfel de momente, verificarea online se dovedește inutilă.
            </p>
        </div>
        <div class="col-md-6">
            <img src="https://th.bing.com/th/id/OIP.BfsOk7m4uc03reDGWtp42QHaEK?rs=1&pid=ImgDetMain" alt="Family Road Trip" class="img-fluid" style="border-radius: 8px;">
        </div>
    </div>
    <div class="row align-items-center" style="margin-top: 2rem;">
        <div class="col-md-6 order-md-2">
            <p style="font-size: 1.8rem; color: #6c757d; font-family: 'Arial', sans-serif; font-weight: bold;">Îți cauți o mașină verificată, cu expertize de la specialiști, fără a cheltui sume impresionante de bani pe acestea?</p>
            <p style="font-size: 1.1rem; color: #6c757d;">Atunci te afli în locul potrivit! Aplicația are rolul de a rezolva una din marile probleme cu care se confruntă orice potențial cumpărător al unui autoturism, anume nesiguranța și teama de necunoscut. Niciodată nu ne putem da seama, ca simplii utilizatori, de starea tehnică, estetică sau funcțională, de modul de întreținere sau de gradul de uzură al unui autoturism doar din cele câteva poze oferite de vânzător în anunț. De multe ori, vânzătorul caută și el să își promoveze anunțul și să prezinte aspectele pozitive ale autoturismului vândut, iar munca de detectiv a unui posibil cumpărător devine astfel și mai dificilă.</p>
            <p style="font-size: 1.1rem; color: #6c757d;">Experții SafeWheel verifică fizic autoturismele pentru a vă putea certifica integritatea acestora.</p>
        </div>
        <div class="col-md-6 order-md-1">
            <img src="https://www.cnet.com/a/img/resize/627d33d52070dd40d58417828e284b0c034bc013/hub/2017/08/08/a3038beb-1136-4d7b-836b-ff01ae20a4f9/2018-land-rover-range-rover-velar-norway-1.jpg?auto=webp&width=1200" alt="Land Rover Range Rover" class="img-fluid" style="border-radius: 8px;">
        </div>
    </div>
    <div class="row align-items-center" style="margin-top: 2rem;">
        <div class="col-md-6">
            <p style="font-size: 1.8rem; color: #6c757d; font-family: 'Arial', sans-serif; font-weight: bold;">Cum funcționează?</p>
            <p style="font-size: 1.1rem; color: #6c757d;">Găsești mașina care îți place, cauți recenziile celor mai buni specialiști SafeWheel, iar pe baza lor iei decizia corectă - este sau nu este aceasta mașina visurilor tale?</p>
        </div>
        <div class="col-md-6 order-md-1">
            <img src="https://th.bing.com/th/id/R.c6ebf4f32f6e293a227a9241f75b9eff?rik=u9fnBH%2bXjfzq3A&riu=http%3a%2f%2fwww.autominded.net%2fbrochure%2fmaserati%2f2005+La+Maserati+18.jpg&ehk=NLpv1XcgA0Yps%2fzkutrTX3R3T%2f%2brfiUaMMPyDmXkQS0%3d&risl=&pid=ImgRaw&r=0" alt="Land Rover Range Rover" class="img-fluid" style="border-radius: 8px;">
        </div>
    </div>
    <div class="row align-items-center" style="margin-top: 2rem;">
        <div class="col-md-6 order-md-2">
            <p style="font-size: 1.8rem; color: #6c757d; font-family: 'Arial', sans-serif; font-weight: bold;">Ce mai aștepți? Mașina visurilor tale este la un click distanță!</p>
        </div>
        
        <div class="col-md-6">
            <img src="https://www.5minutesformom.com/wp-content/uploads/2020/01/family-road-trip.jpg" alt="Family Road Trip" class="img-fluid" style="border-radius: 8px;">
        </div>
    </div>
</div>
