@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Resetare parolă";
}

<h1>@ViewData["Title"]</h1>
<p>
    Un e-mail a fost trimis la adresa indicată. Vă rugăm urmați instrucțiunile de acolo.
</p>
