@page
@model RegisterModel
@{
    ViewData["Title"] = "Înregistrare";
}
<style>
    .login-box {
        background-color: white;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        margin: auto;
        margin-top: 50px;
    }

    .altevariante {
        color: #f39c12;
    }

    .login-submit:hover {
        background-color: #f39c12;
        color: black;
        border-color: black;
    }

    .form-floating {
        position: relative;
        margin-bottom: 1rem;
    }

        .form-floating > label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            padding: 1rem 0.75rem;
            pointer-events: none;
            border: 1px solid transparent;
            transform-origin: 0 0;
            transition: all 0.1s ease-in-out;
        }

        .form-floating > input {
            height: calc(3.5rem + 2px);
            padding: 1rem 0.75rem;
        }

            .form-floating > input:focus,
            .form-floating > input:not(:placeholder-shown) {
                padding-top: 1.625rem;
                padding-bottom: 0.625rem;
            }

                .form-floating > input:focus + label,
                .form-floating > input:not(:placeholder-shown) + label {
                    transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
                }
</style>

<div class="login-box">
    <h1>
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-raised-hand" viewBox="0 0 16 16">
            <path d="M6 6.207v9.043a.75.75 0 0 0 1.5 0V10.5a.5.5 0 0 1 1 0v4.75a.75.75 0 0 0 1.5 0v-8.5a.25.25 0 1 1 .5 0v2.5a.75.75 0 0 0 1.5 0V6.5a3 3 0 0 0-3-3H6.236a1 1 0 0 1-.447-.106l-.33-.165A.83.83 0 0 1 5 2.488V.75a.75.75 0 0 0-1.5 0v2.083c0 .715.404 1.37 1.044 1.689L5.5 5c.32.32.5.754.5 1.207" />
            <path d="M8 3a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
        </svg>
        @ViewData["Title"]
    </h1>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
        <h2>Crează un cont nou</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
            <label asp-for="Input.Email">E-mail</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.Password">Parolă</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
            <label asp-for="Input.ConfirmPassword">Confirmați parola</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary" style="background-color: #f39c12; border-color: #f39c12;">Creează contul</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
