@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Parola dumneavoastră a fost resetată";
}

<h1>@ViewData["Title"]</h1>
<p>
    Vă rugăm <a asp-page="./Login">autentificați-vă</a>.
</p>
